/tests/Presentation.Tests/obj/
/tests/Presentation.Tests/bin/
/tests/Application.Tests/obj/
/tests/Application.Tests/bin/
/tests/Domain.Tests/obj/
/tests/Domain.Tests/bin/
/tests/Infrastructure.Tests/obj/
/tests/Infrastructure.Tests/bin/

/src/Presentation/obj/
/src/Presentation/bin/
/src/Application/obj/
/src/Application/bin/
/src/Domain/obj/
/src/Domain/bin/
/src/Infrastructure/obj/
/src/Infrastructure/bin/